:host {
    text-align: center;
}

.layout {
    min-height: 100vh;
}

.inner-box {
    background: transparent;
    padding: 20px 0;
}

nz-content {
    padding: 0 14px;
    margin-top: 64px;
    font-size: large;
}

nz-form-control {
    margin-bottom: 20px;
    max-width: 30%;
}

.btn_action button {
    margin: 0 10px 10px 0;
    float: left;
}

.btn_tab button {
    width: 120px;
    margin: 5px;
}

.nz-form-item {
    display: flex;
    justify-content: space-between;
}

.btn-player button {
    margin: 10px 10px 10px 0;
    justify-content: space-between;
}

.modalJoin button {
    margin-left: 10px;
}

nz-footer {
    text-align: center;
}