<html>

<body>
    <nz-layout class="layout">
        <app-header></app-header>
        <nz-content>
            <nz-divider nzOrientation="left" nzText=''></nz-divider>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box"></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="24">
                    <div class="btn_action">
                        <button nz-button nzType="primary" (click)="showModalMiddleCreateEvent()"><span nz-icon
                                nzType="plus" nzTheme="outline"></span>Add event</button>
                        <nz-modal [(nzVisible)]="isVisibleCreateEvent" nzTitle="New event" nzCentered
                            (nzOnCancel)="handleCancelMiddleCreateEvent()" (nzOnOk)="submitForm();">
                            <ng-container *nzModalContent>
                                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                                    <nz-form-item>
                                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Event config</nz-form-label>
                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                            <nz-form-item>
                                                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
                                                    formControlName="date"></nz-date-picker>
                                            </nz-form-item>
                                            <nz-form-item>
                                                <nz-select id="sport" formControlName="sport"
                                                    nzPlaceHolder="Select a sport">
                                                    <nz-option nzValue="Foot" nzLabel="Foot"></nz-option>
                                                    <nz-option nzValue="Pool" nzLabel="Pool"></nz-option>
                                                </nz-select>
                                            </nz-form-item>
                                        </nz-form-control>
                                    </nz-form-item>
                                </form>
                            </ng-container>
                        </nz-modal>
                        <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"
                                nzTheme="outline"></span></button>
                    </div>
                    <nz-table #basicTable [nzData]="events">
                        <thead>
                            <tr>
                                <th><span nz-icon nzType="number" nzTheme="outline"></span></th>
                                <th>Date time</th>
                                <th>Sport</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of events" [ngClass]="{'past-event': item.isPast}">
                                <td>{{ item.id }}</td>
                                <td>{{ item.date|date:"medium" }}</td>
                                <td>{{ item.sport }}</td>
                                <td>
                                    <div class="btn_tab">
                                        <button nz-button nzType="primary" (click)="onPlayers(item.id);onTeams(item.id)"
                                            [disabled]="item.isPast" (click)="showModalMiddleManageTeams()"><span
                                                nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span>Join
                                            event</button>
                                        <!-- <nz-divider nzType="vertical"></nz-divider> -->
                                        <button nz-button nzType="primary" nzDanger nz-popconfirm
                                            nzPopconfirmTitle="Are you sure delete this event ?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete(item.id)"
                                            (nzOnCancel)="cancelDelete()" [disabled]="item.isPast">
                                            Delete <span nz-icon nzType="delete" nzTheme="outline"></span>
                                        </button>
                                    </div>
                                    <nz-modal class="modalJoin" [(nzVisible)]="isVisibleJoin" nzTitle="Match" nzCentered
                                        (nzOnCancel)="handleCancelMiddleManageTeams()"
                                        (nzOnOk)="handleOkMiddleManageTeams()">
                                        <ng-container *nzModalContent>
                                            <form nz-form>
                                                <nz-form-item class="flex-container">
                                                    <nz-tag [nzColor]="'purple'">Player management</nz-tag>
                                                    <nz-table class="flex-item" #basicTable [nzData]="players"
                                                        [nzPageIndex]="3" [nzScroll]="{ y: '250px' }">
                                                        <thead>
                                                            <tr>
                                                                <th>Positions</th>
                                                                <th>Players</th>
                                                                <th>Confirmed</th>
                                                            </tr>
                                                        </thead>
                        <tbody>
                            <tr *ngFor="let item of players; let i = index">
                                <td>{{ position + i }}</td>
                                <td>{{item.username}}</td>
                                <td [ngStyle]="{'color': item.confirmed ? 'green' : 'red'}">{{item.confirmed}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="btn-player">
                        <button nz-button nzType="primary" (click)="addPlayerToEvent(selectedEventId)">
                            <span nz-icon nzType="vertical-align-bottom" nzTheme="outline"></span>Join
                        </button>
                        <button nz-button nzType="primary" nzDanger nz-popconfirm
                            nzPopconfirmTitle="Are you sure to leave this match ?" nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="deletePlayerFromEvent()" (nzOnCancel)="cancelDelete()">
                            <span nz-icon nzType="user-delete" nzTheme="outline"></span>
                            Leave</button>
                        <button nz-button nzType="primary" [disabled]="isTimeToConfirm"
                            (click)="confirmPlayer(selectedEventId)">
                            <span nz-icon nzType="check" nzTheme="outline"></span>confirm
                        </button>
                        <button nz-button nzType="primary" (click)="onPlayers(selectedEventId)">
                            <span nz-icon nzType="reload" nzTheme="outline"></span>
                        </button>
                        <nz-tag [nzColor]="'purple'">Teams management</nz-tag>
                        <nz-tabset [(nzSelectedIndex)]="selectedIndex" nzType="editable-card" (nzAdd)="createTeam()"
                            (nzClose)="deleteTeam($event)">
                            <nz-tab *ngFor="let team of teams; index as i" nzClosable [nzTitle]="'team ' + (i + 1)">
                                <nz-select [nzMaxTagCount]="6" nzMode="multiple" nzPlaceHolder="Please select players"
                                    [(ngModel)]="tabs[i]" [name]="'team' + i"
                                    (ngModelChange)="addPLayerToTeam($event, i)">
                                    <nz-option *ngFor="let player of players" [nzLabel]="player.username"
                                        [nzValue]="player"></nz-option>
                                </nz-select>
                            </nz-tab>
                        </nz-tabset>
                    </div>
                    </nz-form-item>
                    </form>
                    </ng-container>
                    </nz-modal>
                    </td>
                    </tr>
                    </tbody>
                    </nz-table>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
                <div class="inner-box"></div>
            </div>

        </nz-content>
        <app-footer></app-footer>
    </nz-layout>
</body>

</html>