.logo {
    width: auto;
    height: 32px;
    margin: 16px 10px 10px 0;
    float: left;
    background-color: transparent;
}

nz-header {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.ant-menu-item {
    font-size: medium;
}

[nz-menu] {
    line-height: 64px;
    background-color: transparent;
}

[nz-button] {
    float: right;
    margin: 16px 24px 16px 0;
}