.title {
    text-align: center;
}

[nz-form] {
    max-width: 600px;
}

.clearfix {
    margin-right: auto;
    margin-left: auto;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

:host {
    text-align: center;
}

.layout {
    min-height: 100vh;
}

button{
    margin: 10px;
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;
    font-size: large;
}

form {
    padding-top: 1%;
    margin: 0 auto;
    font-size: large;
}