[nz-form] {
    max-width: 600px;
}

.upload {
    margin-right: auto;
    margin-left: auto;
}

.phone-select {
    width: 70px;
}

.register-area  button{
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 8px;
}