<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box"></div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="24">
        <div class="inner-box">
            <h2>Password reset 📧</h2>
            <form nz-form class="login-form">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="email" placeholder="email" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                    nzShape="round">Reset</button>
                <p>An email will be send with your new password</p>
            </form>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box"></div>
    </div>
</div>