<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box"></div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="24">
        <div class="inner-box">
            <h1>Administration 🔐</h1>
            <nz-tabset class="admin">
                <nz-tab [nzTitle]="userstp">
                    <ng-template #userstp>
                      <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
                      Users
                    </ng-template>
                    <div class="search">
                        <div class="bar">
                            <h3>Search for user</h3>
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input placeholder="username here" nz-input [(ngModel)]="inputValue"
                                    (input)="onInput($event)" [nzAutocomplete]="auto" />
                                <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="primary" nzSearch nzShape="round"><span nz-icon
                                        nzType="search"></span></button>
                            </ng-template>
                        </div>
                        <nz-table #basicTable [nzData]="filteredUsers" nzShowPagination [nzPageSize]="7"
                            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                            (nzPageIndexChange)="refreshUsers()">
                            <thead>
                                <tr>
                                    <th><span nz-icon nzType="user" nzTheme="outline"></span></th>
                                    <th><span nz-icon nzType="phone" nzTheme="outline"></span></th>
                                    <th>Admin</th>
                                    <th><span nz-icon nzType="tool" nzTheme="outline"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of listOfCurrentPageData">
                                    <td>{{ user['username'] }}</td>
                                    <td>{{ user['phone'] }}</td>
                                    <td>
                                        <nz-switch [ngModel]="user['isAdmin']" [nzCheckedChildren]="checkedTemplate"
                                            [nzUnCheckedChildren]="unCheckedTemplate"
                                            (ngModelChange)="switchAdmin($event, user['id'])"></nz-switch>
                                        <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
                                        <ng-template #unCheckedTemplate><span nz-icon
                                                nzType="close"></span></ng-template>
                                    </td>
                                    <td>
                                        <button nzDanger nz-button nzType="primary" nzShape="round" nz-popconfirm
                                            nzPopconfirmTitle="Are you sure to delete this user ?"
                                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmDelete(user['id'])"
                                            (nzOnCancel)="cancelDelete()">Delete<span nz-icon nzType="delete"
                                                nzTheme="outline"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="messagetp">
                    <ng-template #messagetp>
                        <span nz-icon nzType="message" nzTheme="outline"></span>
                      Communication
                    </ng-template>
                    <h3>Send communication email</h3>
                    <nz-input-group [nzSuffix]="inputClearTpl">
                        <input type="text" nz-input [(ngModel)]="inputValue" placeholder="Subject" />
                    </nz-input-group>
                    <ng-template #inputClearTpl>
                        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                            *ngIf="inputValueMail" (click)="inputValueMail = null"></span>
                    </ng-template>
                    <br />
                    <br />
                    <nz-input-group [nzSuffix]="textAreaClearTpl"
                        class="ant-input-affix-wrapper-textarea-with-clear-btn">
                        <textarea nz-input [(ngModel)]="textValue" placeholder="Message core"></textarea>
                    </nz-input-group>
                    <ng-template #textAreaClearTpl>
                        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                            *ngIf="textValue" (click)="textValue = null"></span>
                    </ng-template>
                    <button class="btn-send" nz-button nzType="primary" nzSearch (onclick)="sendMail()" nzShape="round">Send<span
                            nz-icon nzType="send" nzTheme="outline"></span></button>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box"></div>
    </div>
</div>