.login-form {
    max-width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

form {
    padding-top: 5%;
    margin: 0 auto;
}

.layout {
    min-height: 100vh;
  }
  
  nz-content {
    padding: 0 50px;
    margin-top: 10%;
  }
  
  nz-breadcrumb {
    margin: 16px 0;
  }
  
  .inner-content {
    background: transparent;
    padding: 24px;
    min-height: 380px;
  }
  
  
