:host {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.layout {
  min-height: 100vh;
}


.inner-box {
  background: transparent;
}

nz-content {
  margin: auto;
  margin-top: 64px;
  font-size: large;
}

@media (max-width: 600px) {
  nz-content {
    margin-top: 150px;
  }
}

nz-footer {
  text-align: center;
}