<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box"></div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="24">
    <div class="inner-box">
      <h1>IDEMIA Football</h1><br>
      <p>Booking platform and team making</p>
      <button [routerLink]="['/events']" routerLinkActive="router-link-active" nz-button nzShape="round"
        nzType="primary">Search match now !</button>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box"></div>
  </div>
</div>